<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Travelwise -  Los expertos en viajes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Loading Bootstrap -->
  <link href="css/vendor/bootstrap.min.css" rel="stylesheet">

  <!-- Loading Flat UI Pro -->
  <link href="css/flat-ui-pro.css" rel="stylesheet">
  <style>
    body {
      padding-top: 110px;
    }

  </style>

  <link rel="shortcut icon" href="img/favicon.ico">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.js"></script>
      <script src="js/vendor/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
      <!-- Static navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="#"><span class="fui-logo-travelwise text-inverse"></span></a>
          </div>
        
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="../navbar/">LOS EXPERTOS EN VIAJES</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <div class="container">
        <div class="main-info-top">
        <h4>COPANI 2015</h4>
        <p>Del 6 al 10 de agosto 2014</p>
            <p class="small">Santo Domingo, República Dominicana</p>
            <p class="text-muted small">Bienvenido, por favor proceda a rellenar con sus datos para darles un mejor servicio. (Obviamente texto de prueba)</p>
        </div>
        <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">
            <h5 class="">COPANI 2015</h5>
        <p class="">Del 6 al 10 de agosto 2014</p>
            <p class="small">Santo Domingo, República Dominicana</p>
            <p class="small">Bienvenido, por favor proceda a rellenar con sus datos para darles un mejor servicio. (Obviamente texto de prueba)</p>
            <div class="mastfoot-app">
            <div class="inner">
              <p>&copy;Travelwise 2014 <br><a href="http://travelwise.com.do"> LOS EXPERTOS EN VIAJES</a></p>
            </div>
          </div>
          </div>
          <div class="col-sm-9 col-md-offset-3 col-md-10 col-md-offset-2 main mbl">

            <div class="well">
              <h5>Gracias por confiar en Travelwise, los expertos en viajes!</h5>
              <p>En hora buena <strong>Steve Aoki</strong>, Hemos recibido los detalles de su solicitud. Nos estaremos poniendo en contacto con usted pronto. </p>
              <p class="hll pts mbn"><strong>¿Desea contratar el vuelo con nosotros?</strong></p>
              <p class="small">Nuestra red de conexiones internacionales nos permiten ofrecerle vuelos a precios competitivos.</p>
              <a href="" class="btn btn-info">Si, cotizar vuelo en línea<span class="fui-arrow-right"></span></a>
            </div>
          </div>
      </div>

        

        <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
        <script src="js/vendor/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/flat-ui-pro.min.js"></script>
        <script src="http://jdewit.github.io/bootstrap-timepicker/assets/prettify/prettify.js"></script>
        <script src="js/application.js"></script>
      </body>
      </html>
