<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %} {% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

{% load static from staticfiles %}
  <!-- Loading Bootstrap -->
  <link href="{% static 'css/vendor/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Loading Flat UI Pro -->
  <link href="{% static 'css/flat-ui-pro.css' %}" rel="stylesheet">
  <style>
    body {
      padding-top: 110px;
    }

  </style>

  <link rel="shortcut icon" href="img/favicon.ico">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{% static 'js/vendor/html5shiv.js' %}"></script>
      <script src="{ static 'js/vendor/respond.min.js' }"></script>
      <![endif]-->
    </head>
    <body>
    <!-- Static navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="/"><span class="fui-logo-travelwise text-inverse"></span></a>
          </div>
        
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="../navbar/">LOS EXPERTOS EN VIAJES</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
      <div class="container">
        <div class="main-info-top">
        <h4>COPANI 2015</h4>
        <p>Del 6 al 10 de agosto 2014</p>
            <p class="small">Santo Domingo, República Dominicana</p>
            <p class="text-muted small">Bienvenido, por favor proceda a rellenar con sus datos para darles un mejor servicio. (Obviamente texto de prueba)</p>
        </div>

        <div class="row">
          <div class="col-sm-3 col-md-2 sidebar" style="display:none;">
            <h5 class="">COPANI 2015</h5>
        <p class="">Del 6 al 10 de agosto 2014</p>
            <p class="small">Santo Domingo, República Dominicana</p>
            <p class="small">Bienvenido, por favor proceda a rellenar con sus datos para darles un mejor servicio. (Obviamente texto de prueba)</p>

            <div class="mastfoot-app">
            <div class="inner">
              <p>&copy;Travelwise 2014 <br><a href="http://travelwise.com.do"> LOS EXPERTOS EN VIAJES</a></p>
            </div>
          </div>
          </div>
    {% block content %}
    {% endblock %}


<!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
        <script src="{% static 'js/vendor/jquery.min.js' %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        
        <script src="{% static 'js/flat-ui-pro.min.js' %}"></script>
        <script src="http://jdewit.github.io/bootstrap-timepicker/assets/prettify/prettify.js"></script>
        <script src="{% static 'js/application.js' %}"></script>
        <script src="{% static 'js/jquery.duplicate.js' %}"></script>

    {% block scripts %}
    {% endblock %}
    </body>
  </html>